<%- include('../common/hearder.ejs') %>
  <div class="row clearfix">
    <div class="col-md-9 column">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <ul class="list-unstyled list-inline" style="margin-bottom:0">
              <% if(typeof(action) !== 'undefined' && action == 'edit'){ %>
                <li class='active'>编辑话题</li>
                <% }else{ %>
                  <li class='active'>发布话题</li>
                  <% } %>
            </ul>
          </h3>
        </div>
        <div class="panel-body ">
          <form id='create_topic_form' action='/topic/create' method='post'>
            <fieldset>
              <div>
                <span class="tab-selecter" style="font-size:1.5rem;line-height:34px">选择板块: </span>
                <div class="dropdown" style="display:inline-block;margin-left:10px;">
                  <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" style="min-width:100px;text-align:center">
                    <span id='select-text'>
                      <input id="bankuai_txt" type="hidden" name="bankuai" value=""/>
                      <span class="aaa">选择板块</span>
                    </span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                      <a role="menuitem" class="drop-a" tabindex="-1">热门</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" class="drop-a" tabindex="-1">精华</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" class="drop-a" tabindex="-1">分享</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                      <a role="menuitem" class="drop-a" tabindex="-1">JavaScript</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="input-group col-md-12 column" style="margin-top:20px;">
                <input type="text" name='new_topic_title' value='' class="form-control" placeholder="请输入标题（10个字以上）" />
              </div>

              <div class="input-group col-md-12 column" style="margin-top:20px;" id="add-topic">
                <textarea type="text" name="new_topic_content" id="editor-add" class="form-control" rows="30" placeholder="文章支持 Markdown 语法, 请注意标记代码"></textarea>
                <input type='submit' class="btn btn-primary" style="margin-top:20px;"></input>
              </div>

            </fieldset>
          </form>
        </div>


      </div>



    </div>


    <%- include('../common/slider-bar.ejs', {show_btn: false}) %>
  </div>
  <%- include('../common/footer.ejs') %>

    <script>
      (function () {
        $('.drop-a').click(function (e) {
          var str = e.target.innerHTML;
          var str1
          switch (e.target.innerHTML) {
            case '热门':
              str1 = 'hot';
              break;
            case '精华':
              str1 = 'jinghua';
              break;
            case '分享':
              str1 = 'share';
              break;

            default:
              break;
          }
          $('#select-text .aaa').text(str);
          $('#bankuai_txt').val(str1);
        });

        $('#create_topic_form').on('submit', function (e) {
          var tabValue = $('#bankuai_txt').val();
          if (!tabValue) {
            alert('必须选择一个版块！');
            console.log('asdfasdfasdf')
            $('.tab-selecter').css('color', 'red');
            return false;
          }
        });

       var $el = $('#editor-add')[0]; 
					var simplemde = new SimpleMDE({
						element: $el,
						autoDownloadFontAwesome: true,
						autofocus:false,
					});
					simplemde.value("This text will appear in the editor");
      })();
    </script>