<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
</head>

<body>
  <div class="container">
    <div class="row clearfix">
      <div >

        <nav class="navbar navbar-default navbar-inverse " role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">微小博</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#">技术文章</a>
              </li>
              <li>
                <a href="#">生活随笔</a>
              </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">
                  首页</a>
              </li>
              <li>
                <a href="/">
                  未读消息</a>
              </li>
              <li>
                <a href="/">
                  关于</a>
              </li>
              <% if (!(typeof current_user !== 'undefined' && typeof current_user.username !== 'undefined' || typeof user !== 'undefined')) { %>

                <li>
                    <a href="/reg">
                      <span class="glyphicon glyphicon-user"></span> 注册</a>
                  </li>
                <li>
                  <a href="/login">
                    <span class="glyphicon glyphicon-log-in"></span> 登录</a>
                </li>
                <% }else{ %>

                  <li>
                    <a href="/loginout">
                      <span class="glyphicon glyphicon-log-in"></span> 退出</a>
                  </li>
                  <% } %>
            </ul>
          </div>

        </nav>