<div class="col-md-12 column">

  <div class="jumbotron">
    <h2>
      欢迎来到 微 小 博！
    </h2>
    <% if (!(typeof current_user !== 'undefined' && typeof current_user.username !== 'undefined' || typeof user !== 'undefined')) { %>

      <br>
      <p>
        <strong style="font-size: 3rem">狂飙的蜗牛</strong> ---- 用速度放大梦想
      </p>
      <p>
        还没有账号？前去
        <a href="/reg" style="font-size:2rem">注册</a> 吧! 尽情分享你的 ~ 大前端 ~
      </p>
      <% } %>
  </div>


</div>